body{
  background-color: #000000;
  color: #B0B0B0;
}
h1 {
color: #007BFF;
}
h2{
    color: #007BFF;
}
a
{
    color: #A9A9A9;
    font-size: 20px;
}
p{
font-size: 20px;
}
ul{
font-size: 20px;
}